/* background.css */
html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

#hero-bg {
  position: fixed;
  width: 100vw;
  height: auto;
  z-index: 0;
  opacity: 10%;
}
