.main-grid {
  max-width: 90vw;
  margin: 50px;
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 3fr 3fr 3fr;
  background-color: #333;
  gap: 20px;
  border-radius: 30px;
}

.grid-item {
  display: flex;
  background-color: rgba(106, 106, 106, 0.8);
  border: 1px solid rgba(255, 0, 0, 0.517);
  border-radius: 30px;
}

.grid-item h2 {
  position: relative;
  left: 10px;
  top: -10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  object-fit: contain;
}

.grid-item p {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 50px;
  text-align: left;
  right: 50px;
}

img {
  width: 50%;
  height: auto;
  max-width: 100%;
  border-radius: 30px;
  object-fit: contain;
}

/* Tablet layout: 768px - 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-item h2 {
    font-size: small;
  }

  .grid-item p {
    font-size: small;
    position: relative;
    text-align: left;
    right: 30px;
  }
}

/* Mobile layout: up to 767px */
@media only screen and (max-width: 767px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
  }

  .grid-item h2 {
    font-size: medium;
    text-align: center;
  }

  .grid-item p {
    text-align: left;
    position: relative;
    left: -20px;
  }
}
